body {
background-color: lightgray;
}

/* .mandateText {
    color: red;
} */
.emojiButtons {
    background-repeat: no-repeat;
    width: 55px;
    background-size: cover;
    height: 55px;
}

#satisfied{
    background-image: url(./images/happy.jpg);
}

#happy{
    background-image: url(./images/love.jpg);
}

#noComments{
    background-image: url(./images/no_comments.jpg);
}

#weird{
    background-image: url(./images/weird.jpg);
}
.textFields {
    font-size: 1.7em;
}

input[type="radio"] {
    margin-right:20px;
}