body {
background-color: lightgray;
}

/* .mandateText {
    color: red;
} */
.emojiButtons {
    width: 50px;
    height: auto;
}
.textFields {
    font-size: 1.7em;
}

input[type="radio"] {
    margin-right:20px;
}